<div class="p-col-12">
    <form>
        <div class="p-col-2">
            <div class="p-field">
                <label for="name">Name</label>
                <input type="text" id="name" pInputText #nameInput />
            </div>
        </div>
        <div class="p-col-2">
            <div class="p-field">
                <label for="amount">Amount</label>
                <input type="number" id="amount" pInputText #amountInput />
            </div>
        </div>
        <div class="p-col-12">
            <button
                pButton
                type="submit"
                label="Add"
                class="p-button-success p-mr-2"
                (click)="onAddItem()"
            ></button>
            <button
                pButton
                type="button"
                label="Delete"
                class="p-button-danger p-mr-2"
            ></button>
            <button pButton type="button" label="Clear" class="p-button-primary"></button>
        </div>
    </form>
</div>
